.leaderboard {
  width: 95%;
}

.leaderboard-header {
  width: 80% !important;
  margin-left: 2%;
}

.leaderboard-container {
  height: 46vh;
}

.position {
  width: 95%;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #44494b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ef5a21;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #f89067;
}
