<div class="black-header hidden justify-between bg-darkGray items-end">
    <img class="w-5" src="../../assets/icons/logo.png" alt="Logo">
    <div>
        <button class="text-white mr-2 hover:text-orange"> <a target="_blank" href="https://www.europebet.com/ka">Sign
                up</a></button>
        <button class="text-white bg-orange py-1 px-3 rounded-lg hover:bg-lightGray"><a target="_blank"
                href="https://www.europebet.com/ka">Sign in</a> </button>
    </div>
</div>
<div class="header-div rounded-t-xl lg:rounded-none">
    <div class="fixed-div flex justify-between items-center opacity-95">
        <div class="flex justify-between items-center bg-darkGray rounded-2xl p-1 pr-3">
            <span
                class="bg-lightGray text-xs text-white p-1 px-2 rounded-2xl  hover:bg-orange cursor-pointer">სლოტები</span>
            <span class="text-white text-xs  cursor-pointer">10 იანვარი - 12 მარტი</span>
        </div>
        <button
            class="flex justify-center items-center bg-middleGray text-white rounded-full w-7 h-7 hover:bg-orange cursor-pointer"><img
                class="h-2.5" src="../../assets/icons/close.png" alt="Close Icon"></button>
    </div>
    <div class="footer flex flex-col bg-middleGray">
        <div class="divider h-0.5 bg-orange"></div>
        <button class="m-auto px-9 py-1 text-white text-sm rounded-sm bg-orange my-3 hover:bg-darkGray"><a
                target="_blank" href="https://www.europebet.com/ka/poker">ითამაშე</a></button>
    </div>
</div>