<div class="bg-middleGray flex flex-col justify-center rounded-xl pb-1 mb-5">
    <div class="divider"></div>
    <h1 class="text-white text-base text-center my-5">მოიგე საზური 30 აპრილის ფინალურ ტურნირებზე</h1>
    <div class="travels-container bg-darkGray m-auto rounded-b-lg">
        <div class="flex justify-between">
            <div class="flex flex-col p-4 w-1/2">
                <div class="cashgame-div pl-8 flex flex-col justify-center rounded-xl relative"
                    *ngFor="let i of cashgameTypes">
                    <img class="absolute top-0 right-10" src="../../assets/icons/poker-item-1-ticket-icon.png" alt="">
                    <p class="text-white text-sm">"{{i}}" - </p>
                    <p class="text-white text-xs">1 საგზური</p>
                </div>
            </div>
            <div class="flex flex-col pt-4 pr-4 w-1/2">
                <div class="cashgame-div-big pl-8 flex flex-col justify-center rounded-xl relative">
                    <img class="absolute top-0 right-10" src="../../assets/icons/poker-item-2-ticket-icon.png" alt="">
                    <p class="text-white text-sm">"The Festival in Malta GTD"</p>
                    <p class="text-white text-xs my-1">A კატეგორიის 1 საგზური</p>
                    <p class="text-white text-xs mb-2">B კატეგორიის 1 საგზური</p>
                    <p class="text-white text-xs mb-2">ტურნირში მონაწილეობის მიღება შეუძლია ნებისმიერ მსურველს 165₾
                        ბაი-ინის გადახდით</p>
                </div>
                <div class="cashgame-div-big pl-8 flex flex-col justify-center rounded-xl relative">
                    <img class="absolute top-0 right-10" src="../../assets/icons/poker-item-2-ticket-icon.png" alt="">
                    <p class="text-white text-sm">"The Festival in Malta GTD"</p>
                    <p class="text-white text-xs my-1">A კატეგორიის 1 საგზური</p>
                    <p class="text-white text-xs mb-2">B კატეგორიის 1 საგზური</p>
                    <p class="text-white text-xs mb-2">ტურნირში მონაწილეობის მიღება შეუძლია ნებისმიერ მსურველს 165₾
                        ბაი-ინის გადახდით</p>
                </div>
            </div>

        </div>
        <p class="text-white text-xs w-2/3 m-auto text-center mb-2">* თუ მოთამაშე მოიგებს ბეჭედს ორჯერ ან მეტჯერ, ის The
            Lord
            of The
            Rings ტურნირზე
            მოხვდება ბეჭდების შესაბამისი რაოდენობის სტეკით</p>
        <p class="text-white text-xs w-2/3 m-auto text-center mb-2">* ტურნირში მონაწილეობის მიღება შეუძლია ნებისმიერ
            მსურველს
            165₾-იანი
            ბაი-ინის
            გადახდით.</p>
    </div>
</div>