.main-container {
  margin: auto;
  width: 60%;
  height: 100vh;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 0;
}

@media only screen and (max-width: 1024px) {
  .main-container {
    width: 100%;
  }
}
