<div class="bg-middleGray flex flex-col justify-center rounded-2xl pb-1 mb-5">
    <h1 class="text-white text-base text-center my-3">მოხვდი TOP20 ლიდერბორდში ტურნირებზე დაგროვებული ქულებით</h1>
    <div class="leaderboard rounded-bl-xl rounded-br-xl flex flex-col m-auto bg-darkGray">
        <div
            class="flex items-center rounded-2xl pl-5 border-lightGray border-2 bg-middleGray m-auto my-4 cursor-pointer hover:bg-lightGray">
            <p class="text-xs text-white mr-7">ქულების დაგროვების მექანიკა</p>
            <div class="bg-orange w-8 h-8 rounded-full flex items-center justify-center border-white border-x border-y">
                <img class="w-5" src="../../assets/icons/down.png" alt="">
            </div>
        </div>
        <app-leaderboard></app-leaderboard>
        <app-prizes></app-prizes>
        <p class="text-white text-xs text-center mb-3">* ლიდერბორდის შედეგები განახლდება <a target="_blank"
                class="text-orange underline"
                href="https://www.europebet.com/ka/login?redirect=%2Fka%2Fgames%2Fpoker%2Fcg-poker">პოკერის ლობიში</a>
        </p>
        <p class="text-white text-xs text-center mb-3">* სატურნირო ლიდერბორდი ქულების დათვლაში არ მონაწილეობს ფრიროლები
            და სატელიტები
        </p>
    </div>
</div>