<div class="bg-middleGray flex flex-col justify-center rounded-2xl pb-1 mb-5">
    <div class="divider"></div>
    <h1 class="text-white text-base text-center my-3">ტურნირები და სატელიტები</h1>
    <div class="tournaments-container relative bg-darkGray m-auto rounded-b-lg flex flex-col items-center">
        <p class="text-base text-center text-white my-4">სერიის ფარგლებში, ყოველდღურად გაიმართება 3 ივენთი:</p>
        <div class="clock flex items-center rounded-lg border-orange border-2 pr-2 mb-5">
            <img class="w-8 p-2 mr-1 rounded-tr-xl rounded-r-xl bg-orange" src="../../assets/icons/clock.png" alt="">
            <p class="text-sm text-white">19:00 / 19:30 / 20:00</p>
        </div>
        <p class="text-white text-sm text-center w-3/5 mb-3 md:hidden">* ყველა ტურნირზე მოხვედრა შესაძლებელია 0 ლარიდან.
        </p>
        <p class="text-white font-semibold text-sm text-center w-6/12 mb-4 md:hidden">ტურნირების სრული განრიგის
            სანახავად გადადი
            პოკერი
            ლობიში</p>
        <button class="text-white bg-orange py-1 px-4 mb-3 rounded-sm hover:bg-lightGray md:hidden">
            <a target="_blank" href="https://www.europebet.com/ka/login?redirect=%2Fka%2Fgames%2Fpoker%2Fcg-poker">
                პოკერის ლობი</a></button>
        <img class="absolute  left-0 bottom-0 md:hidden" src="../../assets/icons/promo-left-img.png" alt="Cards Image">
        <img class="absolute  right-0 bottom-0 md:hidden" src="../../assets/icons/promo-right-img.png"
            alt="Cards Image">
        <img class="absolute  right-0 bottom-0 hidden md:inline-block" src="../../assets/icons/promo-right-img-m.png"
            alt="Cards Image">
        <img class="absolute  left-0 bottom-0 hidden md:inline-block" src="../../assets/icons/promo-left-img-m.png"
            alt="Cards Image">
    </div>
    <div class=" flex-col items-center mt-3 hidden md:flex">
        <p class="text-white text-sm text-center mb-3">* ყველა ტურნირზე მოხვედრა შესაძლებელია 0 ლარიდან.
        </p>
        <p class="text-white font-semibold text-sm text-center w-11/12 mb-4">ტურნირების სრული განრიგის
            სანახავად გადადი
            პოკერი
            ლობიში</p>
        <button class="text-white bg-orange py-1 px-4 mb-3 rounded-sm hover:bg-lightGray">
            <a target="_blank" href="https://www.europebet.com/ka/login?redirect=%2Fka%2Fgames%2Fpoker%2Fcg-poker">
                პოკერის ლობი</a></button>
    </div>
</div>