.prizes {
  width: 95%;
}

.prize {
  width: 95%;
  height: 8vh;
  background-color: #202224;
}

.divider {
  width: 4px;
  height: 5vh;
  background-color: #ef5a21;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 1px 0 10px 1px #ef5a21;
}

@media only screen and (max-width: 767px) {
  .prize {
    height: 12vh;
  }
}
