<div class="bg-darkGray border-4 border-middleGray rounded-2xl mb-5">
    <h3 class="text-lg text-white text-center my-5">ყოველდღიური ტურნირები და სატელიტები</h3>
    <div class="flex flex-col justify-around items-center">
        <div class="flex justify-between mb-4 items-center w95 xl:flex-col">
            <div class="flex justify-between higrollers rounded-xl py-4">
                <div class="flex flex-col mr-5">
                    <h4 class="min120 text-white text-sm mb-2">Holdem Highrollers</h4>
                    <span class="min120 text-yellow text-2xl font-semibold">50 000₾</span>
                </div>
                <div class="flex flex-col">
                    <span class="min120 text-white text-sm mb-2">ბაი-ინი - 550₾</span>
                    <span class="text-white text-sm bg-brown pl-2 py-1 rounded-tl-2xl rounded-tr-2xl rounded-bl-2xl">27
                        აპრილი</span>
                </div>
            </div>
            <div class="flex justify-between higrollers rounded-xl py-4">
                <div class="flex flex-col mr-5">
                    <h4 class="min120 text-white text-sm mb-2">Omaha Highrollers</h4>
                    <span class="min120 text-yellow text-2xl font-semibold">50 000₾</span>
                </div>
                <div class="flex flex-col">
                    <span class="min120 text-white text-sm mb-2">ბაი-ინი - 550₾</span>
                    <span class="text-white text-sm bg-brown pl-2 py-1 rounded-tl-2xl rounded-tr-2xl rounded-bl-2xl">28
                        აპრილი</span>
                </div>
            </div>
        </div>
        <div class="w95 flex justify-center  items-center main-event rounded-xl mb-5 py-4">
            <div class="flex flex-col mr-10">
                <h4 class="min120 text-white text-xl mb-2">Main Events</h4>
                <span class="min120 text-yellow text-2xl font-semibold">150 000₾</span>
            </div>
            <div class="flex flex-col">
                <span class="min120 text-white text-sm mb-2">ბაი-ინი - 550₾</span>
                <span class="text-white text-sm bg-brown pl-2 py-1 rounded-tl-2xl rounded-tr-2xl rounded-bl-2xl">29
                    აპრილი</span>
            </div>
        </div>
    </div>
    <p class="w95 m-auto text-white text-xs text-center mb-3">* სამივე ტურნირის გამარჯვებულები მიიღებენ ბეჭდებს და
        ფინალურ ეტაპზე,
        The Lord of the Rings ტურნირზე, იბრძოლებენ The Festival in Malta-ს საგურის მისაღებად.
    </p>
</div>