<div class="bg-middleGray flex flex-col justify-center rounded-xl pb-1">
    <div class="divider"></div>
    <h1 class="text-white text-base text-center my-3">1₾ რეიკი = 1 ქულას</h1>
    <div class="leaderboard-container bg-darkGray m-auto rounded-b-lg">
        <div class="flex items-center m-auto w-1/2">
            <h2 class="text-white text-sm text-center my-3 mr-3">ჰოლდემის TOP20 ლიდერბორდი</h2>
            <img class="cursor-pointer hover:bg-orange rounded-full" src="../../assets/icons/example-icon.png" alt="example-icon">
        </div>
        <app-leaderboard></app-leaderboard>
        <app-prizes></app-prizes>
        <div class="flex items-center m-auto w-1/2">
            <h2 class="text-white text-sm text-center my-3 mr-3">TOP20 ლიდერბორდი ჰოლდემში</h2>
            <img class="cursor-pointer hover:bg-orange rounded-full" src="../../assets/icons/example-icon.png" alt="example-icon">
        </div>
        <app-leaderboard></app-leaderboard>
        <app-prizes></app-prizes>
        <p class="text-white text-xs text-center">* ლიდერბორდის შედეგები განახლდება <a target="_blank" class="text-orange underline" href="https://www.europebet.com/ka/login?redirect=%2Fka%2Fgames%2Fpoker%2Fcg-poker">პოკერის ლობიში</a></p>
    </div>
</div>